#char_counter {
    font-size: 0.85rem;
    color: #555;

}

#char_counter.warning {
    color: orange;
}

#char_counter.danger {
    color: red;
    font-weight: bold;
}

#feedback_display {
    margin-top: 30px;
}

.feedback_entry {
    background-color: midnightblue;
    color: rgb(251, 168, 248);
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 15px;
    border: 2px solid transparent;
    transition: border 0.2s ease;
}

.feedback_entry.new_entry {
    border: 2px solid mediumorchid;
    animation: fadeIn 0.5s ease;
}

.feedback_entry h3 {
    margin: 0 0 5px 0;
}

.feedback_entry p {
    margin: 0 0 5px 0;
    color: whitesmoke
}

.feedback_entry .entry_date {
    font-size: 0.75rem;
    color: pink;
}

.success_msg {
    color: pink;
    font-weight: bold;
    display: none;
    margin-top: 10px;
}

@keyframes fadeIn {
    from {opacity: 0; transfrom: translateY(-10px); }
    to   {opacity: 1; transform: translateY(0); }
}

.tooltip_wrapper {
    position: relative;
    display: inline-block;
}


.tooltip {
    position: absolute;
    display: none;
    background-color: midnightblue;
    color: rgb(251, 168, 248);
    border-radius: 8px;
    z-index: 100;
    padding: 6px 12px;
    left: 105%;
    top: 50%;
    transform: translateY(-50%);
    white-space: nowrap;

}


.tooltip::before {
    content: '';
    position: absolute;
    right: 100%;
    top: 50%;
    transform: translateY(-50%);
    border: 6px solid transparent;
    border-right-color: midnightblue;
}

.validation_msg {
    color: magenta;
    font-size: 0.8rem;
    display: none;
}


.delete_btn {
    background-color: transparent;
    color: red;
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: 3px 8px;
    font-size: 0.75rem;
    cursor: pointer;
    float: right;
}

.delete_btn:hover {
    background-color: red;
    color: white;
    border-color: red;
}