#char_counter {
    font-size: 0.85rem;
    color: #555;

}

#char_counter.warning {
    color: orange;
}

#char_counter.danger {
    color: red;
    font-weight: bold;
}

.tooltip_wrapper {
    position: relative;
    display: inline-block;
}


.tooltip {
    position: absolute;
    display: none;
    background-color: midnightblue;
    color: rgb(251, 168, 248);
    border-radius: 8px;
    z-index: 100;
    padding: 6px 12px;
    left: 105%;
    top: 50%;
    transform: translateY(-50%);
    white-space: nowrap;

}


.tooltip::before {
    content: '';
    position: absolute;
    right: 100%;
    top: 50%;
    transform: translateY(-50%);
    border: 6px solid transparent;
    border-right-color: midnightblue;
}